[2019-06-22 16:26] atherdon opened #23 "[FoodComposition] comments"
**Is your feature request related to a problem? Please describe.**
https://github.com/GroceriStar/sd/issues/22
https://github.com/GroceriStar/sd/pull/450
https://github.com/GroceriStar/sd/issues/387#issuecomment-498291128

#387
https://github.com/GroceriStar/sd/issues/532

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A

[2019-07-01 11:16] atherdon opened #7 "Fix "TODO" issue in src/csvParser.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-static-files-generator/src/csvParser.js#issue_5d19ea9ab13dea00010000f6

[2019-07-05 11:27] vadim9999 opened #9 "add setting path to function like in generator"

[2019-07-05 11:47] vadim9999 opened #11 "delete not used functions in writeFile and utils.js"
After moving from generator files some functions is unused here. Find out and delete them

[2019-07-05 16:11] atherdon commented on #11
please add more details here if you want to assign it to other team mates

[2019-07-08 00:54] atherdon opened #13 "convert "csvPaser" file into ES6"
i think this task is pretty similar to work, that we're doing at generator repository. I think it can be done by our juniors.

other files are not important - because soon we'll get rid of them when this module will work well as separated entity

[2019-07-09 22:18] atherdon opened #17 "csv parser want to generate only when something is inside of it"
![image](https://user-images.githubusercontent.com/1469198/60926890-a6545800-a2b0-11e9-8721-ddfc3ea867b2.png)

[2019-07-09 22:19] atherdon commented on #17
it works for `csv:usfa2` script.
csv:usfa1 didn't even work

[2019-07-09 22:24] atherdon commented on #17
but at least it running

[2019-07-10 13:35] atherdon commented on #13
i think this can be the next task for @svr8

[2019-07-10 14:16] atherdon opened #18 "should we replace writeFile with installed generator module inside of this csv parser?"
think about it after #13 & #11

[2019-07-10 21:28] atherdon commented on #17
same issue with latest updates
![image](https://user-images.githubusercontent.com/1469198/61006369-d2d0a880-a372-11e9-8ed6-0bdc7344fa33.png)

[2019-07-10 21:30] atherdon commented on #17
i assume that it can be caused because we're using old `writeFile` file inside of csv parser. but i'll install here a generator inside of this repo, so we can try to use a new version here.
it will be also a good case for us, because we'll check how generator working with another codebase that we have here...

[2019-07-10 21:35] atherdon opened #19 "upgrade food composition project inside of examples folder"

[2019-07-10 21:43] atherdon opened #20 "we need to reconfigure pkg.json"
as `prepublish` are deprecated, we need to add a script that will run build each time when we type npm publish.
because just yet i published a module without any code(because dist folder was not created with build)

![image](https://user-images.githubusercontent.com/1469198/61007204-ea109580-a374-11e9-8a52-4e422b570087.png)

[2019-07-11 21:15] atherdon commented on #13
While Vadim reviewing our progress at generator project - @AndrewSerra you can jump into this task as well. But before we'll do an actuall work - let's discuss a plan how we'll do it

[2019-07-12 22:34] atherdon commented on #13
Andrew, you can jump into this task. a generator will also be used inside of this module, so we'll be able to test it a few places in the same time

[2019-07-12 22:35] atherdon commented on #13
and as right now it partially worked with this es5 module - i hope it will work also with es6 version as well

[2019-07-13 00:48] atherdon commented on #23
We should slowly replace old files like writeFile. I assume that we'll do this very easily, but again - we need to be careful about it.

We also have duplicates right now.
at `src` folder, we have a `foodcomposition` that was copied a few weeks ago and adjusted to be able to run it inside of this package
and at `examples` folder, I copied lately the same project, but maybe we have some changes ins

[2019-07-13 00:54] atherdon commented on #23
Similar thing that we should keep in mind it's old utils file as well.
first of all - we can clean it up, so methods, that we're didn't using here - we can remove them. I think we'll have at least some methods, related only to `generator` - because writeFile and utils was one place for storing methods for both `csv parser` and `generator`

[2019-07-13 01:06] atherdon commented on #23
We also have an empty fileSystem file - where we can move some of methods that we use. But I have feeling that we actually don't need it - because I install generator inside of this module, so we can use methods from it (if we actually exported those methods to the outside)

[2019-07-13 01:24] atherdon opened #26 "standard has a lot of default warnings due to headers of test.js files"
we did it before at sd.

`/* global describe, it, expect */`
we just need to add it to the header of our test files so eslint will skip warnings about it

[2019-07-13 01:34] atherdon opened #27 "FAO parser from scratch"
it should be a pretty similar work that we've made with FoodComposition data and USFA data as well.
we just have a different dataset, with different headers and files, stored here: https://github.com/ChickenKyiv/awesome-food-db-strucutures/tree/master/FAO

[2019-07-13 01:35] atherdon commented on #27
logic is simple - it should have a similar structure as USFA has and similar parser files logic is simple - it should have a similar structure as USFA has and similar parser files

[2019-07-13 01:52] atherdon opened #28 "handle "projects" issue + reduce tech debt"
![image](https://user-images.githubusercontent.com/1469198/61165499-13265700-a52a-11e9-96a0-7956a34c3476.png)

[2019-07-13 09:04] AndrewSerra commented on #13
okay, I'll start this. @svr8 did you do anything yet?

[2019-07-13 09:18] AndrewSerra commented on #13
are we changing all csv parsing related files in this task?

[2019-07-13 11:18] svr8 commented on #13
@AndreSerra @atherdon Nope, I haven't done much on this yet. I was looking into testing and related issues. I'll start on this issue after I've fixed the tests for fileSystem.js. I hope it is alright.

[2019-07-13 13:14] atherdon commented on #13
let's list files that we have at src folder(not including "projects" for
now).
So we'll be able to discuss each file separately.

I think it should be pretty easy task, because we did similar work at
generator module

[2019-07-13 23:02] AndrewSerra commented on #13
here is the src directory structure (without the mutliple .json files. to discuss, I only left one if there are many that makes the listing too long),
TLDR -> removed most json files under USFA/Nutrition and USFA/Product for this visualization:

[code]

[2019-07-13 23:07] atherdon commented on #13
[code]

are our first candidates for es6 transition

[2019-07-13 23:07] atherdon commented on #13
add your cool structure at readme file please

[2019-07-13 23:09] AndrewSerra commented on #13
Sure, also if anyone uses a mac, you could use `brew install tree` pretty cool tool. I just found it and used it to generate that.

[2019-07-13 23:14] AndrewSerra commented on #13
I can handle those. Do we have the same scripts used in food-static-files-generator to not get errors?

[2019-07-13 23:18] AndrewSerra commented on #13
Another thing I have found if it can be useful for anyone here is a [source](https://engineering.carsguide.com.au/es5-vs-es6-syntax-6c8350fa6998) about differences between ES5 and ES6.

[2019-07-13 23:21] atherdon commented on #13
let's start with cccsvparser first.
but let's do it in different way.
can you plit it into a few files, so it became less long and easy to digest?

as you may find - utils and writeFile is the same files that we have at generator.
for sure, we can just replace of delete them. but it's a brutal way and it can cause some issues.
first of issue that right now ccsv parser, even with es5 is working. so

[2019-07-13 23:29] AndrewSerra commented on #13
Okay, I can check cccsvparser in the morning and figure something out to split it up

[2019-07-14 08:48] AndrewSerra commented on #13
I'm also handling some todos, I made a join path function in utils so the code gets less complicated to read

[2019-07-14 10:06] AndrewSerra commented on #13
@atherdon I have made some changes and added a function so you can see and if you like it we can start using that as well.

[2019-07-14 16:21] atherdon opened #32 "fileWriter method"
1) instead of having start, stop attributes, maybe we can pass {start:, stop} object in order to reduce number of attributes?
2) jsonPath will work only for one of our cases.
we should update it to make it work outside, check places like "projects/USFA/../parser" files in order to update that

[2019-07-14 16:22] atherdon commented on #32
and the name is not cool. maybe it's similar to our write method? or i mistaken?

[2019-07-14 16:26] atherdon commented on #13
Ok, what we should do next @AndrewSerra ?

[2019-07-14 16:35] AndrewSerra commented on #13
we could convert utils.js and writeFile.js to ES6 style They are not converted yet

[2019-07-14 16:37] AndrewSerra commented on #13
Also, do you think we can use the function I wrote? If yes, we could clean up code by replacing the current path.join() and path.resolve() to the one I wrote in utils.js

[2019-07-14 16:38] atherdon commented on #13
can you give me a codeline to your functions?

[2019-07-14 16:42] AndrewSerra commented on #13
Here it is (located in src/utils.js):
[code]

[2019-07-14 16:46] atherdon commented on #13
1) let's move this method outside from utils.js first. because i assume soon we'll move to use methods that came from util.js at generator method

2) utils.js and writeFile.js to ES6 style
Can you tell me - do we have a difference inside of these files with generator files?
or maybe what methods we're using from both of this files, that are different
https://github.com/GroceriStar/food-static-file

[2019-07-14 16:53] atherdon commented on #13
what do you also think if we'll move methods from cccsvparser and move them into index.js?
i think as it's a separated module - we can keep those methods at the main file

[2019-07-14 17:36] atherdon opened #33 "move methods that we have in cccsvparser into index.js"
- i think it will help us to move forward with this module
- we'll be able to remove file with ugly name
- will have a single point of exporting methods to the outside
- will break csv parsers at "projects/USFA/..." folders

#13

[2019-07-15 13:38] AndrewSerra commented on #33
Working on it.

[2019-07-15 13:46] AndrewSerra commented on #33
I did not remove cccsvparser yet. I have a suggestion. All functions are connected to each other in cccsvparser and only one function is exported, I was thinking of just changing the name of the file and importing the single function that is important in cccsvparser to index.js

[2019-07-15 13:54] AndrewSerra commented on #33
Shortly:
1. Changing the name of cccsvparser.js to something useful. (I would name it the same as the function exported from the file which is `csvToJson()`
2. import `csvToJson()` to index.js
3. export whichever function we want

[2019-07-15 13:56] AndrewSerra commented on #13
@atherdon I think I answered this in the [issue](https://github.com/GroceriStar/food-datasets-csv-parser/issues/33#issuecomment-511412101).

[2019-07-15 14:41] atherdon commented on #33
i make that ugly name - because we have a module inside at pkg.json that was making conflicts. this is why it was changed.

2) you can check at "proejcts" what functions they using and get an idea what should be exported. because this module will be installed to "projects" in future

[2019-07-15 14:42] atherdon commented on #33
ok, show me the code

[2019-07-15 15:25] AndrewSerra commented on #33
At the moment I have this in index.js:
[code]
and cccsvparser is the same. I am checking what you said now.

[2019-07-15 15:38] AndrewSerra commented on #33
I opened a pull request to show what I did. As far as I can see, I only saw the function `parseDirectoryFiles()` that was used in "projects".

[2019-07-15 15:49] atherdon commented on #33
Ok,
merged.

check this files
- https://github.com/GroceriStar/food-datasets-csv-parser/blob/master/src/USFA/Serving_Size/parser.js
- https://github.com/GroceriStar/food-datasets-csv-parser/blob/master/src/USFA/Derivation_Code_Description/parser.js
- https://github.com/GroceriStar/food-datasets-csv-parser/blob/master/src/USFA/Nutrition/parser.js
- https://github.com/GroceriStar/food-datasets-csv-p

[2019-07-15 16:04] AndrewSerra commented on #33
I looked through them while working on another issue, by check do you mean to convert to ES6 style? or check those files and remove unnecessary ones for export?

[2019-07-16 15:15] atherdon commented on #33
by check i mean that they all now broken(i assume)

[2019-07-16 15:28] atherdon commented on #27
example of 2nd gen parser script is here https://github.com/GroceriStar/food-datasets-csv-parser/tree/master/src/USFA

[2019-07-16 15:28] atherdon commented on #27
1st gen is Food composition

[2019-07-16 15:41] atherdon commented on #27
I also add you to our organization. please follow https://github.com/GroceriStar in order to accept an invite

[2019-07-16 17:18] jan-strum commented on #27
Where should I write this parser? In the root of https://github.com/ChickenKyiv/awesome-food-db-strucutures/tree/master/FAO ?

[2019-07-16 17:53] atherdon commented on #27
nope.
for now, use the same logic as we have at this repository.
go to src/projects and you'll see there other parsers

[2019-07-16 17:58] jan-strum commented on #27
I don't see a projects directory. Are you referring to parsers like this
<https://github.com/GroceriStar/food-datasets-csv-parser/blob/master/src/csvToJson.js>
?

On Tue, Jul 16, 2019 at 12:53 PM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-07-16 18:06] atherdon commented on #27
got it.
check https://github.com/GroceriStar/food-datasets-csv-parser/tree/master/src/USFA for parsers

[2019-07-16 18:12] atherdon commented on #27
and first gen parser is located here: https://github.com/GroceriStar/food-datasets-csv-parser/tree/master/src/FoodComposition but it's outdated

[2019-07-16 18:14] jan-strum commented on #27
Sorry, but I'm new to working in this way. I could spend a lot of time figuring out exactly what you want me to do and where, so if you're not too busy, could you please clarify this for me? Exact links of where you want me to be working would be very helpful.

[2019-07-16 19:10] atherdon commented on #27
1) create a folder with name FAO
2) copy any parser.js from USFA project
3) upload to that folder csv files from https://github.com/ChickenKyiv/awesome-food-db-strucutures/tree/master/FAO
4) for each "table" - each file with exported data are actually a table from database. For each "table" you should create separated folders, like we did in USFA case.
5) for each "table" you should have a separat

[2019-07-16 19:57] jan-strum commented on #27
Thank you, @atherdon. I'll get on this now.

@AndrewSerra I could do what @atherdon just described and tag you for review. I'm also open to working however else you see fit.

[2019-07-16 21:30] jan-strum commented on #27
It looks like these .csv files have many headers. Whereas in the USFA version, you could easily hardcode the headers and pass them as the second argument to `parseDirectoryFiles()`, here I will need to dynamically obtain the headers from each file.

I know that you want this script to be from scratch, but I noticed that you're using the `csv-parser` module. Could I use this or another module to dy

[2019-07-16 22:28] atherdon commented on #27
yeah, at FoodComposition with a lot of headers as well.

it's a very smart way - i like it. you can create additional method that we also can use for other parsers as well!

Here I mean that I don't give you any small tasks around parsers, so you get used to it. Code should looks similar to parsers that we have at USFA. And please use `csv-parser module`, because there no needs to invent the wheel

[2019-07-17 10:05] AndrewSerra commented on #33
Ok checking it

[2019-07-17 10:36] AndrewSerra commented on #27
@jan-strum so which part are you working on? How could I help with the process?

[2019-07-17 10:57] AndrewSerra commented on #13
What file are we continuing with this issue? @svr8 did you do anything else?

[2019-07-17 11:26] atherdon commented on #13
we need to decide what to do next here

[2019-07-17 11:33] atherdon commented on #13
can you check and tell me which files from utisl.js are actually used?

i think we need to delete all methods that we don't using and convert
utils. to es6

[2019-07-17 11:45] jan-strum commented on #27
@AndrewSerra Thanks for offering your help. I [reorganized the file structure](https://github.com/jan-strum/food-datasets-csv-parser/tree/foa-parser/src/FOA), and I was about to find a way to dynamically obtain headers from each file.

After that, assuming the parser works for this dataset, there shouldn't be much to do. I'd love it if you could review my code when it's ready, or help me debug if

[2019-07-17 12:05] AndrewSerra commented on #13
should I convert it while checking?

[2019-07-17 12:07] AndrewSerra commented on #27
Sure tag me when you are ready and I can check the PR. And whenever you need something just tag me to a message here :)

[2019-07-17 12:16] AndrewSerra commented on #13
`checkFilePath()` ,`getFileInfo()` are not used. I'll remove them now and change to ES6 style.

[2019-07-17 12:24] atherdon commented on #13
cool

[2019-07-17 13:19] atherdon opened #39 "export build"
![image](https://user-images.githubusercontent.com/1469198/61378700-a656e800-a8ae-11e9-8d51-6c515421acd7.png)

[2019-07-17 13:24] atherdon commented on #33
did we solve all the points from the task description?

[2019-07-17 13:24] atherdon commented on #33
ohh, i forget this comments https://github.com/GroceriStar/food-datasets-csv-parser/pull/37#pullrequestreview-262962272

[2019-07-17 13:38] atherdon opened #40 "Test ticket from Code Climate"

[2019-07-17 13:38] #40 closed

[2019-07-17 13:38] atherdon opened #41 "Fix "TODO" issue in src/csvToJson.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-datasets-csv-parser/src/csvToJson.js#issue_5d2f21692d7eb100010001c6

[2019-07-17 13:38] atherdon opened #42 "Fix "TODO" issue in src/csvToJson.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-datasets-csv-parser/src/csvToJson.js#issue_5d2f21662d7eb100010001c4

[2019-07-17 13:38] atherdon opened #43 "Fix "TODO" issue in src/csvToJson.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-datasets-csv-parser/src/csvToJson.js#issue_5d2f21692d7eb100010001c5

[2019-07-17 13:38] atherdon opened #44 "Fix "TODO" issue in src/csvToJson.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-datasets-csv-parser/src/csvToJson.js#issue_5d2f21692d7eb100010001c7

[2019-07-17 13:39] atherdon opened #45 "Fix "TODO" issue in src/utils.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-datasets-csv-parser/src/utils.js#issue_5d2f21662d7eb100010001c0

[2019-07-17 13:39] atherdon opened #46 "Fix "TODO" issue in src/utils.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-datasets-csv-parser/src/utils.js#issue_5d2f21662d7eb100010001c1

[2019-07-17 13:40] atherdon opened #47 "Fix "TODO" issue in src/index.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-datasets-csv-parser/src/index.js#issue_5d2f21692d7eb100010001ca

[2019-07-17 13:40] atherdon opened #48 "Fix "TODO" issue in src/index.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-datasets-csv-parser/src/index.js#issue_5d2f21692d7eb100010001c9

[2019-07-17 13:45] jan-strum commented on #27
@atherdon @AndrewSerra Is there anything I need to do to configure ESLint and Prettier for this project? After running `npm install` I kept getting `Failed to load config` errors for whatever is in my root `.eslintrc.json` file. I changed that file to just extend prettier, but now I'm getting errors like "const is a reserved keyword."

[2019-07-17 13:53] atherdon commented on #27
you can fix it, but it not our main point for this task. you can create a separated task, explain details and work on it later

[2019-07-17 13:54] atherdon commented on #27
i think it's your global ESLint maybe throwing a warnings. at this repo we don't have raw ESLint. we using Standard - which is just a simple eslint config

[2019-07-17 13:57] atherdon commented on #27
and usually - show me a code via PR, because i don't have compilator in my
mind ;)

[2019-07-17 15:12] jan-strum commented on #27
@atherdon Of course. Thank you.

@AndrewSerra I've run into something you may be able to help me with:

I wrote a helper function to dynamically obtain headers](https://github.com/jan-strum/food-datasets-csv-parser/blob/foa-parser/src/getHeaders.js), and it works, but I'm having trouble getting that helper to return those headers so that I can use them elsewhere.

I'm pretty new streams and workin

[2019-07-17 16:26] atherdon commented on #27
@jan-strum please push that changes you've mentioned into PR

[2019-07-17 16:26] atherdon commented on #27
Pull requests is a better place to discuss things like we have here

[2019-07-17 16:54] jan-strum commented on #27
@atherdon @AndrewSerra I've just created a PR for these changes.

[2019-07-17 17:20] atherdon commented on #27
1) curious to see if we can use this method(`getHeaders`) for FoodComposition
2) for now it's ok to have a file with ES5 style when we debugging it, but later we'll update it to ES6. we need to keep note on it.
3) we can go and create copy-paste for parsers, but maybe we need to update some methods, that will make parser.js less duplicated. want to hear thoughts about it

[2019-07-17 17:21] atherdon commented on #27
Please make some small changes and open another PR so we can focus on problem that you describe at https://github.com/GroceriStar/food-datasets-csv-parser/issues/27#issuecomment-512308018

[2019-07-17 17:24] jan-strum commented on #27
Definitely.

Are you referring to imports/exports? If so, yes, I had some issues using ES6 in this codebase.

I was thinking about how much duplication this will involve. If you're going to create a script to parse each csv file, perhaps that script can take an argument, which is the path to each file. This way, we could just have one parser.js in the root of FOA. I'll have to look into how to wri

[2019-07-17 17:25] jan-strum commented on #27
This problem has been resolved by my last PR.

[2019-07-17 17:38] atherdon commented on #27
We'll deal with this later. It's just unfinished process for now.

Please remember that we're working together here. So please share some work with Andrew, because with this approach we can move forward more quickly. I prefer this way:
1) it looks similar to USFA, but each time you find something, worth improving, you file a new issue at this repository where we can chat together about how to do i

[2019-07-17 17:42] jan-strum commented on #27
@AndrewSerra How do you think we should move forward? Would you like to flesh out the logic in parser.js so that we can use it for any dataset (for a description of this, see my last comment).

[2019-07-17 17:49] jan-strum opened #52 "Make FAO parser more modular"
### Expected Behavior / Situation
One parser.js file that can dynamically convert csv files from any directory into a json file in that same directory.

### Actual Behavior / Situation
One parser.js file that can convert csv files from its own directory into a json file in that same directory.

### Modification Proposal
Let's discuss this, but one way forward would be to write a script for parser.

[2019-07-17 17:55] jan-strum commented on #52
@atherdon @AndrewSerra Here's a continuation from the last FAO issue.

[2019-07-18 00:42] atherdon commented on #27
And as we have `FAO` database, please rename a foldername

[2019-07-18 01:55] atherdon commented on #52
#27
Ok, so what our exact steps will be, in order to do it.

How I see it. We have few files with csv data inside of it. Some of them might be in one place, some of them at other. I think at this repo or at generator we have a method, that can grab all files inside of it.
I think we use it for `JSON` files, but it should work for us as well. maybe with some modifications.

do we need to pass an ob

[2019-07-18 11:38] jan-strum commented on #27
Rename what folder to what?

[2019-07-18 15:27] AndrewSerra commented on #52
I'm a bit confused in general. Are we pursuing the single parser? If so, I think we can handle all concerns one by one. Eventually, it will work.

[2019-07-18 15:51] AndrewSerra commented on #13
utils.js is done and merged. whats next for this issue

[2019-07-18 17:12] atherdon commented on #52
right now we exploring what shall be done in order to make it, but right now it's just a discussion @AndrewSerra

[2019-07-18 18:47] jan-strum commented on #52
I'm also a bit confused. Just to clarify:

This method will grab all of the csv (or json) files inside of the repository? I didn't see it in this repo, but I'll keep looking in food-static-files-generator.

I think if we can access all the csv files dynamically, then it would be nice to write the json files dynamically as well (i.e. write them in their proper directories without passing any path a

[2019-07-18 19:07] atherdon commented on #13
moving to separated issue

[2019-07-18 19:07] #13 closed

[2019-07-18 19:07] atherdon opened #56 "replacing methods from WriteFile.js to methods from generator module"
**Is your feature request related to a problem? Please describe.**

what do you think about this:
- let's start replacing methods, that we're using from writeFile.js by same methods, that we have at generator module(i.e. `write`, `save`), etc.

i want to do it carefully, but maybe with our current changes at parsers, we will break our code and we don't need to worry about doing it slowly...

**Is

[2019-07-18 19:10] atherdon opened #57 "Food composition - csv_parser rename this file into parser.js?"
**Is your feature request related to a problem? Please describe.**
We trying to move FoodComposition parser into next stage and it should have a simplier name,
but please do it carefully(we using that parser at least at one places)

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what yo

[2019-07-18 19:22] atherdon commented on #52
We have a method for JSON files, but I think with small modifications it can `eat` csv as well.

---

it will be cool. Because our main goal is not just parse, but create json files as we need it(sometimes it require some modifications at structure, for example, adding ID or adding `created_at` datetime field)

---

We need to make a separated method, that will parse/check each file and if it will

[2019-07-18 19:26] atherdon commented on #56
for example, how i see this transition:
 - writeFile - https://github.com/GroceriStar/food-datasets-csv-parser/blob/master/src/writeFile.js#L36
we comparing this method with https://github.com/GroceriStar/food-static-files-generator/blob/master/src/fileSystem.js#L11

we see small changes, replacing this method at our files that use `writeFile`
and we also removing an sub-method, that `writeFile` u

[2019-07-18 19:27] atherdon commented on #41
@NathanielFaber let's start with this one

[2019-07-18 19:28] atherdon commented on #42
same file @NathanielFaber, we are trying to reduce our tech debt here

[2019-07-18 20:06] atherdon commented on #52
I think this method can be an example: https://github.com/GroceriStar/food-static-files-generator/blob/master/src/objects.js#L14
there a readall method that grab all files inside

[2019-07-19 08:25] atherdon commented on #57
#63

[2019-07-19 10:04] atherdon commented on #56
i don't see errors now, but maybe when we'll start to replace our methods. we'll face some.
Adding here @svr8 because he is actually working with those methods from the generator and can be useful here.

guys, please decide together what to do here

[2019-07-19 11:20] AndrewSerra commented on #56
So we are getting rid of functions that we can import from the generator?

[2019-07-19 16:44] atherdon commented on #56
yeah, briefly. but we doing it slowlvy and step by step.

let's start with replacing method `writefile` to `write` from generator at all places where it used

[2019-07-19 19:05] AndrewSerra commented on #56
Okay starting this task. I'll also convert to ES6

[2019-07-19 19:12] AndrewSerra commented on #56
Also, are we adding callbacks?

[2019-07-19 19:22] svr8 commented on #56
I updated the functions today. Callbacks won't be needed, instead, `write` returns a promise.

[2019-07-19 19:26] svr8 commented on #56
Okay. Should I start by replacing `readData`?

[2019-07-19 19:29] AndrewSerra commented on #56
So I guess it's just copying and pasting from food-static-files-generator to food-dataset-csv-parser? and then modifying wherever else it occurs?

[2019-07-19 19:34] AndrewSerra commented on #56
Opened PR for it

[2019-07-19 19:35] svr8 commented on #56
Yeah. Um also, I am a little confused here..

and

Are we importing methods from the generator or we copy-paste entire code that we need?

[2019-07-19 19:37] AndrewSerra commented on #56
yeah that was what I was confused about. So I used your changes and added them to this repo. If it is importing I will change it

[2019-07-19 19:48] svr8 commented on #56
@atherdon Should we have a common utility api called util that contains small modules that are used in multiple repositories? It would be helpful if there's a need to change the file-structure of data in the future, we'll just need to change the methods in util.

[2019-07-19 20:03] atherdon commented on #56
its not copy-pasting.
we exported method write at our generator module.
this module installed at csv-parser - check package.json
we're replacing methods, that was stored here, in `src` folder, to methods,
that was exported at generator module.

tell me if something is not clear

https://github.com/GroceriStar/food-datasets-csv-parser/pull/66#pullrequestreview-264407446

[2019-07-19 20:17] AndrewSerra commented on #56
okay I'll fix it now

[2019-07-19 20:47] atherdon commented on #56
what our next method should be?

[2019-07-19 21:37] atherdon opened #68 "ohh, i forget this comments https://github.com/GroceriStar/food-datasets-csv-parser/pull/37#pullrequestreview-262962272"
ohh, i forget this comments https://github.com/GroceriStar/food-datasets-csv-parser/pull/37#pullrequestreview-262962272

_Originally posted by @atherdon in https://github.com/GroceriStar/food-datasets-csv-parser/issues/33#issuecomment-512252671_

[2019-07-19 21:37] #33 closed

[2019-07-20 18:43] atherdon commented on #47
@saphal1998 you can grab this task when your previous will be done

[2019-07-20 18:43] atherdon commented on #46
@saphal1998 you can grab this task when your previous will be done

[2019-07-20 18:43] atherdon commented on #48
@saphal1998 you can grab this task when your previous will be done

[2019-07-21 22:27] atherdon commented on #11
i think we finish it at least partially

[2019-07-21 22:27] #11 closed

[2019-07-22 10:23] AndrewSerra commented on #56
there is one file left in ES5. `getHeaders.js`

[2019-07-23 02:51] atherdon commented on #56
gotcha. While I don't want to interup the process - let's create a copy of
that file and convert it into es6. when all parser - related work will be
finished  - we'll just replace files and all will be good to go

[2019-07-23 03:10] atherdon commented on #56
@AndrewSerra I install the lastest version of our generator module, you can continue this task

[2019-07-23 10:51] AndrewSerra commented on #56
Okay, I'll create a copy and convert to es6

[2019-07-30 12:27] atherdon opened #87 "csv import to the database [on hold]"
**Is your feature request related to a problem? Please describe.**
http://stackoverflow.com/questions/25054958/save-a-very-big-csv-to-mongodb-using-mongoose
http://stackoverflow.com/questions/30462849/import-text-files-csv-format-into-mongodb-using-mongoose-schema
https://www.npmjs.com/package/mongoose-csv
https://www.npmjs.com/package/mongoose-to-csv
https://gist.github.com/killercup/11256050
htt

[2019-07-30 15:23] atherdon commented on #27
@jan-strum do you need help with this parser task? feel free and ask for help - just want to move this part forward

[2019-07-30 17:44] jan-strum commented on #27
@atherdon I'm going to be pretty busy for the indefinite future, but I'd like to get back to committing code to GroceriStar as soon as I can. Please assign this task to someone else in the meantime, and I will let you know of my next availability.

[2019-07-31 11:10] atherdon commented on #27
got it - thanks for letting me know, I think we'll handle it with Andrew

[2019-08-03 05:29] atherdon commented on #44
@akshaj1999 you can jump into this task

[2019-08-11 15:47] atherdon opened #100 "quick introduction"
**Describe the bug**
https://www.loom.com/share/682cc66d86194e6cb03126f0051e6759
https://www.loom.com/share/45f44532506941c38bc650e3a8f4e27d

[2019-08-14 11:57] atherdon commented on #100
@vadim9999 if you have time - can view those videos as well

[2019-08-16 13:03] atherdon commented on #100
@anh212
@SyeedHasan
@edward-hong
Guys, we all can work on this task. let's have a discussion here and decide our future steps

[2019-08-16 21:02] SyeedHasan commented on #100
I'll be going over the documentation to understand the problem. Will report back soon.

[2019-08-18 14:09] SyeedHasan commented on #100
@atherdon Let me know how you would like us to start. I've reviewed the files and tried to understand the code as much as I could right now. A task should make it more clear.

[2019-08-18 21:47] atherdon commented on #100
i'll rewatch my video. maybe I didn't explain how i want to do it.

first of all - we need to start from code, code changes. without code changes and collaboration - it's not possible.

So, we have here the main module and few scripts that parcing csv.
Our goal is to parse our csv files into json. Can you tell me what is exactly not clear for you?
I mean it's hard to understand what you've done. m

[2019-08-18 21:48] atherdon commented on #100
@haoyxc you can jump into this task as well

[2019-08-18 22:21] atherdon commented on #100
@SyeedHasan I'm updating Readme file right now. Please take a look and tell me if it make more clear what we're doing here

[2019-08-18 22:30] #27 closed

[2019-08-18 22:35] atherdon opened #107 "Parsing csv files from FAO dataset"
**Is your feature request related to a problem? Please describe.**
Check Readme file for an explanation. (below methods)

[2019-08-19 14:33] SyeedHasan commented on #100
Thanks. I've understood the problem now. Will be making a pull request soon, hopefully, I've done it right.

[2019-08-19 14:49] atherdon commented on #100
don't worry about doing it 'not right' - we'll help

[2019-08-19 16:58] SyeedHasan commented on #100
Can someone guide me through how I can run my parser file?
The given examples all return an error since the files are missing (which are still mentioned in the package.json as part of the commands)

[2019-08-19 17:15] SyeedHasan commented on #100
I can't seem to run any of the given project examples. They're missing files in project2.0. I'll try fixing it up, hopefully the documented way works.

Let me know how I can run my FAO parser.

[2019-08-19 23:30] atherdon commented on #100
@SyeedHasan  Your questions force me to start updating code yesterday that we have a few months ago. So it's might be not clear. Not sure what tell now.
Show me some code at PR and we'll move from it. also, don't forget to sync your fork frequently

---

Anyone else has some questions or something to say?

[2019-08-20 12:50] MinahilOvais commented on #100
What is is you want me to work on? @artherdon

[2019-08-20 13:14] atherdon commented on #100
@MinahilOvais check some `@TODO` inside of our code, pick one, fix it, open pull request with your code changes

[2019-08-20 13:19] SyeedHasan commented on #100
@atherdon; can I open an issue with the TODO that i'm attempting to complete?

[2019-08-20 13:23] atherdon commented on #100
@SyeedHasan instead of issue - you can create a draft pull request. even if you don't have any code changes - it will give us a separated place to discuss it

[2019-08-23 19:26] atherdon opened #117 "i'm ready to merge it, but check codeclimate report https://codeclimate.com/github/GroceriStar/food-datasets-csv-parser/pull/114"
i'm ready to merge it, but check codeclimate report https://codeclimate.com/github/GroceriStar/food-datasets-csv-parser/pull/114

_Originally posted by @atherdon in https://github.com/GroceriStar/food-datasets-csv-parser/pull/114#issuecomment-523532479_

as I think some issues was not addressed - we'll need to handle it as well
@SyeedHasan

[2019-08-23 19:29] atherdon commented on #117
i didn't review all of them, but we can discuss them here.
I assume we can solve some of that problems

[2019-08-23 20:13] atherdon commented on #117
The main issue with these notifications - they tend to be collected and later it's hard to solve them in bulk. This is why it better to address them now

[2019-08-24 20:55] atherdon opened #122 "update rollup.config.js at projects3.0"
**Is your feature request related to a problem? Please describe.**
we discussed this change at your PR. tell me if you can do it in short amount of time, because i'm jumping back into development of this repo and i need rollup at our sub-projects

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise descrip

[2019-08-24 21:13] atherdon commented on #100
@anh212
@edward-hong
@haoyxc
guys and girls - do you have questions or maybe some progress to show me? just sending a notification

[2019-08-25 02:31] atherdon commented on #122
as our code was tight with USFA dataset mostly, first item that i have concerns is projects3.0/USFA  -i made some changes, but getting an issue with old rollup. i assume that ti will gone with your changes
can be regenerated with `yarn build`
![image](https://user-images.githubusercontent.com/1469198/63644799-81e5fb00-c6f9-11e9-9be6-9f8766ba6c2f.png)

[2019-08-25 06:17] EbrahimKreem commented on #122
as I understand from your comment that the problems in the picture come from `yarn build` and should be fixed

[2019-08-25 06:53] EbrahimKreem commented on #122
#124
![Screenshot from 2019-08-25 09-52-57](https://user-images.githubusercontent.com/32773511/63646614-2f6b0580-c71e-11e9-88e3-9c1df542b83b.png)

[2019-08-25 14:30] atherdon commented on #122
ok, now please check other 2 projects from this folder as well

[2019-08-25 15:25] EbrahimKreem commented on #122
I think it would be better and make more sense if we make this repo as yarn workspace because there are a lot of shared dependencies and config files between folders...... after I fix rollup in the 2 projects I will make a new yarn workspace in my Github account and you can decide if it makes sense or no

[2019-08-25 15:48] atherdon commented on #122
create a separated issue for that feature. right now it's not in my priority.
when we'll make this repo more clean - then we'll go and complete features like this

[2019-08-25 17:05] atherdon opened #125 "csvToJson method updates"
**Is your feature request related to a problem? Please describe.**
Ok, so we have a few problems with csvToJson method.
- [ ] First was mentioned
https://user-images.githubusercontent.com/25102007/63653054-47c03c00-c781-11e9-9a0d-5af716b5cf37.png

- [ ] I add a lot of comments inside at those 3 methods, so we solve them as well.

**Describe the solution you'd like**
Our updated version should be a

[2019-08-25 17:05] atherdon commented on #125
tell me what part do you want to take, please

[2019-08-25 17:06] atherdon commented on #125
i'll back in a few hours and make a new release of our module, as i moved out FAO parser

[2019-08-25 17:11] SyeedHasan commented on #125
Here's my solution:

1. `csvToJson` function receives a directory variable which has the DIRECTORY name (for example USFA/Nutrition...). Simply cut it out using regex and you get USFA.

2. Pass it down to the function `fileWriter` by means of `splitJsonIntoFiles` where we can remove USFA. Change it with the template string carrying our new variable.

3. Now, if the dataset changes, we won't need t

[2019-08-25 17:14] SyeedHasan commented on #125
Is this approach good?

[2019-08-25 23:13] atherdon commented on #125
first of all - we should think aboout code inside of `src` folder as independent module from our actual 'datasets' and 'parsers'.
So we need to make it work without an actuall connection to any of datasets, i.e. in our next result we shouldn't have any things like `usfa` inside.

let's split it into a small chunks.
our first target here is 'fileWriter' method. it's first place that can/should be i

[2019-08-25 23:19] atherdon commented on #125
I don't think it necessary. i mean right now we working on 2 datasets/parser scripts at the same time. We can easily adjust them, depending to changes, that we'll make at our
But maybe i'm not understanding your solution correctly. Back to it later and remind me, because your idea may be good.

The major issue, why we need to make it more simple and also less confusing for our side - because we sh

[2019-08-25 23:21] atherdon commented on #125
btw, just made a new release at npm

[2019-08-25 23:28] atherdon commented on #125
at `fileWriter` we have a few tasks that we should address:
https://github.com/GroceriStar/food-datasets-csv-parser/blob/master/src/csvToJson.js#L20-L37
1) rename the method
2) ` const jsonFileName = `${folderName}/${fileName}${i}.json`;` I don't see here an actual folder name. i think it's a mistake
3) `const jsonPath = `/projects/USFA/${jsonFileName}`;` this line is no longer acceptabale and als

[2019-08-26 00:28] atherdon opened #129 "USFA parser 3.0 have issues with export from food-datasets-csv-parser module"
**Describe the bug**
1) if i'm trying to call an es5 version we have issues with fs promisify module.
2) when I tried to call es6 version of that, i have another issue, related to transpile of methods from path module. screenshot below

**Screenshots**

![image](https://user-images.githubusercontent.com/1469198/63658212-84a42700-c7b1-11e9-9259-6b3fa74bc2b7.png)

[2019-08-26 13:33] SyeedHasan commented on #125
Where should the JSON files go? Project2.0 directory?

[2019-08-26 15:08] atherdon commented on #125
we should pass a proper path from the outside.

[2019-08-28 00:14] atherdon commented on #125
@zhangted what do you think about this task?

[2019-08-28 20:53] atherdon commented on #125
I understand and agree with your logic. it's correct.
my take on it. i came at JS from PHP - and we have there so long and boring
names.
as both `split.../assign...` and `generate...` methods are internal and
used/called only one time - i think we can easily rename it into
a) `assign`
b) `generate`
c) add/update information at readme, about those methods so everyone else
will be on the same page w

[2019-08-29 00:17] zhangted commented on #125
yeah. for sure. i updated. also i saw the new comment about too many data entires for the generate function. maybe it is possible to slice the data before passing into generate, then we can eliminate 3 variables from that function

[2019-08-29 01:55] atherdon commented on #125
we'll address that in a new PR.
as I add it as TODO - we wouldn't miss it

[2019-08-30 03:16] atherdon commented on #125
#136

[2019-09-03 18:43] SyeedHasan commented on #125
Hi Arthur, the PR is merged now I guess. Should we move the main function to index.js as stated?

[2019-09-05 04:20] atherdon commented on #125
@SyeedHasan do you mean csvToJson method, right?
Yes i think we can do this. it should be done carefully, because it can break some of our parsers.
please do, open a PR and i'll take a look.

[2019-09-12 12:07] ebrahim-2 opened #144 "About the stretch goals for this module"
Did we make any progress in the stretch goals because I don't see anyone of them checked in README.md

[2019-09-13 20:51] atherdon commented on #144
please check videos that i made: https://github.com/GroceriStar/food-datasets-csv-parser/issues/100#issue-479383283

it may give you some additional details that i didn't share here

[2019-09-21 09:08] EbrahimKreem commented on #125
There is a well-known library with a great API that can do the work for` csvToJson`  method so I think there is no need to reinvent the wheel... https://www.npmjs.com/package/csvtojson

[2019-09-21 09:31] atherdon commented on #125
@EbrahimKreem I saw it while ago. but for now, i think we need to keep moving by my plan.
when we'll limit differences between parser files, and parsing will work correctly, we'll have free time and be able to check other methods. but at this moment I assume we need to move forward current codebase.
I think you were checking parsers before - do you have questions what we need to do or what should

[2019-09-21 10:13] EbrahimKreem commented on #125
yes I am checking parsers but there are a lot of problems related to `csvToJson` method

[2019-09-21 10:15] EbrahimKreem commented on #125
so how should we fix parsers when our methods have a lot of problems !!!

[2019-09-21 17:01] atherdon commented on #125
give me more details about issues that you spotted at `csvToJson` methods.
if we need to fix csvToJson - then we should do it. because before our code
was working at previous repository. I think you was part of that code - so
it will be easy to fix I think

[2019-09-22 10:47] EbrahimKreem commented on #125
when I try to run the file any parser in projects2.0 I get

![Screenshot from 2019-09-22 13-46-56](https://user-images.githubusercontent.com/32773511/65386066-7b21c680-dd3f-11e9-8b4e-820a65c9201d.png)

[2019-09-22 10:50] EbrahimKreem commented on #125
I inspect the code and the error is in csvToJson
https://github.com/GroceriStar/food-datasets-csv-parser/blob/961eded086dcd1540e6dc2d1e2c7bb0b21470611/src/csvToJson.js#L87

[2019-09-23 09:27] atherdon commented on #125
the problem with code, located at projects2.0 is - that code were working
when everything was part of sd folder, then, when we decide to split code
between modules, some parts can be broken, but that changes will be mirror,
by my opinion.

[2019-09-23 09:30] atherdon commented on #125
This issue is pretty simple. if you compare logic of folders inside of foodcomposition or usfa - you'll see differences between them.
try to run parser from another project - one of them should go through that line. it might help you to figure out.

---

You can make it simple :) I think your experience is more than enough to do it. you just need to spend more time at debuggin it. again, use me -

[2019-09-23 19:35] atherdon commented on #125
@EbrahimKreem I plan to create a simple video that will explain more about changes we're making. tell me if you need that kind of explanation and feel free to ask more questions

Also, about line, that contains a path to an actual, `raw` CSV files inside at `csvToJson` - I think we should pass that kind of path to this method from the outside because we're making our method more independent from o

[2019-09-24 10:35] EbrahimKreem commented on #125
what do we expect from `csvToJson` method to do alongside parsing?

[2019-09-24 11:15] atherdon commented on #125
for our current stage, I want to have this module to be independently working with 3 datasets that we have inside of this repo at this moment.
But if we'll decide to parse another dataset - it shouldn't be an issue as well. this is the major goal.
So if you want to make changes at csvToJson - feel free to do it. if something goes wrong - we can easily revert if - if needed.

[2019-09-24 11:16] atherdon commented on #125
you can also check how projects3.0 looks like - it may give you some more ideas about how i see it.

[2019-09-26 07:14] EbrahimKreem commented on #125
Hi @atherdon, now we get some data returned from `getHeaders` function
![Screenshot from 2019-09-26 10-05-38](https://user-images.githubusercontent.com/32773511/65665922-46ff1c00-e045-11e9-8740-cca288049e97.png)
so now we should fix logic inside `csvToJson` and `parseDirectoryFiles` to parse CSV files to json... am I correct?

[2019-09-26 07:14] EbrahimKreem commented on #125
so now we should fix logic inside `csvToJson` and `parseDirectoryFiles` to parse CSV files to json... am I correct?

[2019-09-26 10:48] atherdon commented on #125
Looks correct for me by quick look. as i'm concerned about `getHeaders`
method, can you test it with other datasets as well?

and please open pull request, even if you have "work-in-progress"

[2019-09-27 06:33] zhangted commented on #125
Hey guys, playing catch up. @EbrahimKreem I edited the methods in csvToJson to reduce the amount of variables being passed aroun, as per the TODOs, but maybe it needs simplification. I also updated the readme to explain any changes I made.

I think the methods in csvToJson work, except for the file naming/directory part in the `generate` function. The jsonPath is /projects/${jsonFileName}, but I d

[2019-09-27 06:49] atherdon commented on #125
@zhangted did you open a pull request with your changes? please do because
we cannot see it in our main repository

[2019-09-27 17:53] atherdon commented on #125
Ted, can you handle that and submit a new PR?

[2019-09-27 22:16] zhangted commented on #125
I will try. Where is static-data-generator or the write function in the line
`import { write } from '@groceristar/static-data-generator';` ?
I also want to check this function

[2019-09-28 07:39] EbrahimKreem commented on #125
import { write } from '@groceristar/static-data-generator'; ? Is it suppose to be food-static-files-generator?

https://github.com/GroceriStar/food-static-files-generator/blob/d09a7031f425bb191344e09527afcaee8579f7a9/src/fileSystem.js#L24

[2019-09-28 14:26] atherdon commented on #125
@zhangted  as we want later to have this module working from the outside, i think we should have some sort of attribute, instead of the hardcoded path as we have now.
'@groceristar/static-data-generator' is the name of module, published on npm.
`food-static-files-generator` is the repository name on github where we saving our code, related to `generator module`

[2019-09-28 18:49] zhangted commented on #125
Ok I got the json file writing to actually write, but when i check the file, theres a bunch of undefineds and empty quotes? Sending PR now

[2019-09-28 19:37] atherdon commented on #125
@zhangted what command do you using for start parser?

[2019-09-28 19:46] zhangted commented on #125
I go to the directory with a parser.js and run "node parser.js"

[2019-09-28 19:50] atherdon commented on #125
@zhangted can you add that line to package.json so we can re-use it?

[2019-09-28 20:05] zhangted commented on #125
there are a couple of lines (csv:fc, csv:usfa1...etc) in there that do it. As long as the directory has csv files in it, it works (like csv:fao1 command). Some of them without csv files returns some weird error when runing it. i added an example working command `  "csv:fish_reftbl": "node ./projects2.0/FAO/Fish/Fish_Reftbl_RefDatasets/parser",`

[2019-09-28 20:30] atherdon opened #165 "update parsers at projects2.0"
**Is your feature request related to a problem? Please describe.**
at `projects2.0/FAO/Fish/Fish_NV_Sum/parser` Ebrahim make some updates inside of that file.
as we trying to make everything work similar and at the same time -

**Is it was created as task at GitHub issues? Please provide an issue number or link**
#125

**Describe the solution you'd like**
other parsers should look similar.

[2019-09-28 20:42] atherdon commented on #125
@zhangted sure, I add those links to make it less confusing.
I plan to add some script that will run all parsers at the same time later :)

[2019-09-28 20:52] atherdon opened #166 "Fix "TODO" issue in src/csvToJson.js"
TODO found

https://codeclimate.com/github/GroceriStar/food-datasets-csv-parser/src/csvToJson.js#issue_5d8fc759714f600001000223

[2019-09-29 05:51] EbrahimKreem opened #168 "refactoring our functions"
I think we should make a separate function for parsing CSV files that should be used inside `getHeaders` and `csvToJson` function

![Screenshot from 2019-09-29 08-50-01](https://user-images.githubusercontent.com/32773511/65826979-32fe2900-e296-11e9-942f-79be5ce52861.png)

[2019-09-29 05:52] EbrahimKreem commented on #168
with that function, we can make our functions independent and do one thing

[2019-09-29 05:54] EbrahimKreem commented on #168
and in the `csvToJson` fn I think we should name it `generateJsonFile` and put logic related to generating JSON objects in it

[2019-09-29 06:29] EbrahimKreem opened #170 "[blocker] package.json script bug"
**Describe the bug**
when I run the parser from the package.json script I get `Error: ENOENT: no such file or directory, open 'Fish_Reftbl_RefDatasets.csv'`

when I enter the dir and run `node parser.js` everything works correctly

**Expected behavior**
it should run the parser from the package.json script successfully

[2019-09-29 16:43] atherdon commented on #168
let's go - i like it!
will make everything less complicated and reduce duplication

[2019-09-29 16:48] atherdon commented on #170
@zhangted I think it related to your changes

[2019-09-29 18:35] zhangted commented on #170
What is the difference between running `node ./projects2.0/FAO/Fish/Fish_NV_Sum/parser` or going into the folder and running `node parser`?

[2019-09-29 19:13] atherdon commented on #170
it depends and debatable.
from nodejs stand point - it might be similar
from code quality - it mean something
from long distance, team collaboration, bugs - it means something too

just follow my lean and fix this issue

[2019-09-29 19:20] atherdon commented on #168
Dont forget to sync your fork as well,

[2019-09-29 19:52] EbrahimKreem opened #172 "redesign csvToJson function"
**Describe the solution you'd like**
I think we should redesign `csvToJson` function and make more clear and readable

**Describe alternatives you've considered**
perhaps we can name it `generateJsonFile` and put the logic related to generating JSON files in separate helpers and call them inside it

[2019-09-29 19:54] EbrahimKreem commented on #172
I think @zhangted has experience with those functions and can lead us

[2019-09-29 20:12] atherdon commented on #168
can you also update csvToJson method?

[2019-09-29 20:15] #23 closed

[2019-09-29 20:21] zhangted commented on #170
Okay,  if we know difference, then we can fix why it works one way and not the other

[2019-09-29 20:40] EbrahimKreem commented on #170
it's a very confusing issue I tried to copy the csv file to the root dir and run the script again and I get the same result

[2019-09-29 20:46] atherdon commented on #170
i have some hits for you.
we need to look for issues at `parseDirectoryFiles` - because right now it's our main method that we call at our parsers.

I will add `console.logs` inside of this method, but someone will need to remove them when we finish... Then you both will need to sync your forks and run local builds in order to get latest stuff

you see, this is an actually great example of how sep

[2019-09-29 20:49] EbrahimKreem commented on #170
yeah, I totally agree with you ...
but I have a small change I don't know if it's useful or no we can use the `__dirname` var before any CSV file `await parseCsv(`${__dirname}/Fish_Reftbl_RefDatasets.csv`);` and I tested the package.json script and it works fine

[2019-09-29 20:52] atherdon commented on #170
I pushed the latest changes to master branch please take a look...

---

@EbrahimKreem I like that improvement. let's have it. but it will work only for projects2.0/FAO case

i like it - let's use it.

[2019-09-29 21:01] atherdon commented on #168
i'm not sure if we pass all data inside `parseCsv` at `csvToJson`
because `parseCsv` has options(also, rename opts to options, we don't need to save as much trees) and we didn't pass them from `csvToJson`.

also, before return make 2 checks that all data that is needed, was passed, so we wouldn't have similar issues like right now

[2019-09-29 21:01] atherdon commented on #168
+ sync your fork again

[2019-09-29 21:08] atherdon opened #174 "csvToJson improvement"
**Is your feature request related to a problem? Please describe.**
1. Disable eslint-disable - remove first line at file
2. run `yarn lint`
3. fix issues
4. push them as PR

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considere

[2019-09-29 21:12] EbrahimKreem commented on #170
there is a small issue related to `parseDirectoryFiles`  we are passing an array to `csvToJson` method and it expects to receive a path and I get `TypeError: path must be a string or Buffer`
https://github.com/GroceriStar/food-datasets-csv-parser/blob/bd0daef99246068802ea29c583a018b6790ad012/src/fileSystem.js#L28

[2019-09-29 21:39] zhangted commented on #170
@EbrahimKreem Maybe concat the file info into a string for the path?
 `''.concat(fileInfo[0], __dirname, fileInfo[1], '.csv') `

Also, should we be calling the `assign` function in the `resolve(dataEntries)` part in the createReadStream? Otherwise we are not making the files

Also, why are there 3 parameters for csvToJson? I thought we are only passing 2 parameters into it. It may seem complicated

[2019-09-29 21:45] atherdon opened #176 "fix travis ci bug"
**Describe the bug**
https://travis-ci.org/GroceriStar/food-datasets-csv-parser/jobs/591229811

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'travis ci'
2. fix lint bugs

**Additional context**
Add any other context about the problem here.

[2019-09-30 14:27] atherdon opened #177 ":error: when I try to run the parser"
:confused: when I try to run the parser

![Screenshot from 2019-09-30 15-53-31](https://user-images.githubusercontent.com/32773511/65880444-7fcb2800-e39a-11e9-8030-b7e239a5ebe4.png)

_Originally posted by @EbrahimKreem in https://github.com/GroceriStar/food-datasets-csv-parser/pull/175#issuecomment-536547524_

[2019-10-01 16:01] zhangted commented on #125
@EbrahimKreem @atherdon Is the format in the json file about right?(https://i.imgur.com/7W1mrQ5.png)  I will push changes on top of EbrahimKreem's pull request.

[2019-10-01 19:55] atherdon opened #180 "if now we don't use getHeaders in a straight way - maybe it better to remove it's export at index.js?"
if now we don't use getHeaders in a streight way - maybe it better to remove it's export at index.js?

_Originally posted by @atherdon in https://github.com/GroceriStar/food-datasets-csv-parser/pull/175/files_

[2019-10-02 17:05] #176 closed

[2019-10-02 21:54] atherdon commented on #177
Ok, looks like i'm fixing it with current release of generator module

[2019-10-02 22:30] #177 closed

[2019-10-02 22:36] atherdon commented on #170
now I actually can saw this issue on my side as well.
what i'm doing with it - you will ask me?
i typing this error to google. now sure why you can't do it as well :(

I add a few `console.logs` that should help to debug
![image](https://user-images.githubusercontent.com/1469198/66086843-16a40a00-e57e-11e9-867f-48fba17e33c1.png)

[2019-10-02 22:43] atherdon commented on #180
right now it's useful because i add quick shit turnaround with new wrapper method at index.js
but it's a bad way to do...

[2019-10-02 23:12] zhangted commented on #170
this is what I get when I run the csv:fao1 and csv:fish_reftbl commands

[2019-10-02 23:15] #165 closed

[2019-10-02 23:26] atherdon opened #188 "test getHeaders with 3 datasets"
Hi @atherdon, now we get some data returned from `getHeaders` function

![Screenshot from 2019-09-26 10-05-38](https://user-images.githubusercontent.com/32773511/65665922-46ff1c00-e045-11e9-8740-cca288049e97.png)

_Originally posted by @EbrahimKreem in https://github.com/GroceriStar/food-datasets-csv-parser/issues/125#issuecomment-535372067_

[2019-10-03 00:53] atherdon commented on #125
It's hard to tell, because it's not formatted and we cannot compare and catch some quick issues.
At sd repository we have some sort of validator, but again - this datasets is huge, so it's not clear now. maybe you can go with loop and print some parts of these huge objects and it can help us to compare data inside of rows.

i tend to think that it's ok, because we using code that was created befor

[2019-10-03 05:45] EbrahimKreem commented on #170
Error: ENOENT: no such file or directory, open 'Fish_Reftbl_RefDatasets.csv'

the issue now is in`mainWrapper` fn when we use `__dirname` it resolves to `/food-datasets-csv-parser/src` but when the `__dirname` was in the parser it resolves to `/food-datasets-csv-parser/projects2.0/FAO/Fish/Fish_Reftbl_RefDatasets/parser.js`

[2019-10-03 05:52] EbrahimKreem commented on #170
my bad the I pressed the `close and comment` button wrongly :sweat_smile:

[2019-10-03 05:59] EbrahimKreem commented on #170
Error: ENOENT: no such file or directory, open 'Fish_Reftbl_RefDatasets.csv'

the issue is in the context of `__dirname` in `mainWrapper` fn the `__dirname` resolves to `/food-datasets-csv-parser/src`
 we should use the `__dirname` in the parser file and everything will work correctly

[2019-10-03 06:04] EbrahimKreem commented on #170
#189

![Screenshot from 2019-10-03 09-02-06](https://user-images.githubusercontent.com/32773511/66102961-ca2bef00-e5bc-11e9-94a2-291e05528104.png)

[2019-10-03 09:59] atherdon commented on #170
i tried to debug this thing as well, but i was falling asleep and become
lazy.
try to solve it on your own

[2019-10-05 07:40] EbrahimKreem commented on #188
why we have a lot of datasets? does two or three datasets do the testing thing?

[2019-10-05 19:30] atherdon commented on #188
the main reason is to make our codebase work.
second options is to help other food projects that have similar way to ours.
i.e. when we'll make it work great - i plan to release this module online and share with everyone who building food tech projects

[2019-10-05 20:34] atherdon commented on #188
when parser will work as it should in my mind - we'll focus on re-creating our backend system using graphql.
and my goal is try to create it with modularity in mind as well.
imagine situation that we have a backend system that can handle different datasets and be able to work for different cases - that we trying to cover - i think it will be cool.

prev API that I developed - was created pretty qu

[2019-10-05 21:19] atherdon commented on #170
@EbrahimKreem @zhangted can you tell me some updates?
i think we spot some issues with parsers, and I comment some code in order to have more clear idea what is not working?
are anyone else working on this thing? i'll be happy to get your help - as usually busy with other tasks

[2019-10-06 09:23] EbrahimKreem commented on #170
1- we should figure out how to parse the CSV file to JSON and save it to the file system in `FAO/Fish`
1- update other parsers

[2019-10-06 11:20] atherdon commented on #170
i think it's easy - most work was dobe before and we just cleaning it up.
let's fix issues that we have at parseDirectoryFiles - and this generation of parsers probably will work.
then we'll made some upgrades in order to move code into `projects3.0` state

[2019-10-06 18:50] EbrahimKreem commented on #170
I have some work that needs a discussion I will make a PR and we can talk there

[2019-10-07 10:10] atherdon commented on #100
Hi @Abobos please watch my intro video so you can get some information about what we're trying to accomplish with this module

[2019-10-07 10:12] #129 closed

[2019-10-07 10:13] atherdon commented on #125
@Abobos  here is another long conversation about our ongoing work. please take a look, check codebase and tell me your questions (also we trying to put a lot of information into Readme file)

[2019-10-07 10:23] atherdon commented on #188
I actually think that getHeaders works fine.
I checked most of datasets - and all was ok. some files have a lot of headers, but I still think that this part wouldn't be an issue for us

[2019-10-07 10:23] #188 closed

[2019-10-08 19:39] atherdon opened #193 "Can we replace this method with `read` method from generator?"
Can we replace this method with `read` method from generator?

_Originally posted by @atherdon in https://github.com/GroceriStar/food-datasets-csv-parser/pull/191_

@EbrahimKreem

[2019-10-08 19:40] atherdon opened #194 "i think csvToJson should be improved a bit."
i think csvToJson should be improved a bit.
one of our goal is to have inside of csvtojson 2 options:
1) you parsing whole CSV file into one json file
2) you parsing CSV file into a set of json files, that splitted in chunks.

for second case I think we should use assign, that has `write` inside of it

Btw, can you update other parsers accordingly and test how they works with changes that youve ma

[2019-10-08 19:50] atherdon commented on #193
I think fs.read is doing the same thing, so it's not necessary to create it from scratch again - because it's making this module more complex  - later we'll clean up code/dependencies

[2019-10-09 09:53] EbrahimKreem commented on #193
which method?

[2019-10-09 11:12] atherdon commented on #193
https://github.com/GroceriStar/food-datasets-csv-parser/blob/master/src/csvToJson.js#L59-L66

[2019-10-09 11:20] atherdon commented on #100
@chrissmith012 check this one then - came to https://github.com/GroceriStar/food-datasets-csv-parser/issues/100#issuecomment-538933422

[2019-10-09 13:23] EbrahimKreem commented on #193
I read the code in `read` fn it is reading files, not directories but in `csvToJson` we are reading the directory to extract the name of CSV file and assign it to `write` method

[2019-10-09 17:06] atherdon commented on #193
ok, if you think so - then let's move that part of code into `generator` and call it inside of `csv-parser`

[2019-10-09 23:04] atherdon commented on #100
@sibasish14 check this task as well - take some time to understand our code base - then we'll have coding task

[2019-10-09 23:06] atherdon commented on #170
@EbrahimKreem I think we finished it and i can close an issue, right?

[2019-10-10 06:44] #170 closed

[2019-10-10 19:27] EbrahimKreem commented on #193
I think this issue can be closed with the latest changes

[2019-10-10 19:31] #193 closed

[2019-10-12 07:57] sibasish14 commented on #100
@atherdon
I have gone through this issue and the codebase. I think I have understood up to some extent about the goals. Do you have any tasks for me? I might be slow initially but I'll definitely give it a try.

[2019-10-12 12:19] atherdon commented on #180
@sibasish14 you can grab this task

[2019-10-12 12:20] atherdon commented on #100
@sibasish14 don't worry at all - it's fine to start slowly - not a problem at all - we can wait.
Mentioned you at one simple task

[2019-10-12 12:21] atherdon commented on #180
feel free to ask more details - i create this task quickly - just to not lose details

[2019-10-12 18:44] sibasish14 commented on #180
This is what I understand after going through `index.js` (and the other files in the `src` folder): I need to remove (or comment out?) the line 48, i.e., `getHeaders,`. Am I correct? Please guide me if I am wrong.

[2019-10-12 18:51] atherdon commented on #180
yes you can remove importing/exporting line.
But when you do it - it can break method below that i shitcoded :)
So you'll need to move that method away to another file, and make it work.

[2019-10-13 05:21] sibasish14 commented on #180
Do you mean the `mainWrapper` method?

Ok, so, this is my interpretation after going through some more files: many `parser.js` files are importing `index.js`. And hence, the `mainWrapper` method won't work if we remove the import/export lines.

Am I correct? If yes, then I should be doing the following:
1. create a new file `mainWrapper.js` and remove it from index.js
2. remove the import/export o

[2019-10-13 06:46] atherdon commented on #180
fork a code and make this changes - then open a pull request.
I think you correct - but without seeing a code - it's hard to tell for me

[2019-10-13 08:29] sibasish14 commented on #180
@atherdon I have opened a PR for this issue. Please tell me if I have to change anything.

[2019-10-13 10:40] EbrahimKreem commented on #194
the problem is how to know that the consumer of the function want to parse it to one JSON file or split it in chunks

[2019-10-13 13:53] atherdon commented on #194
right now we our customer.
and we need to have +1 attribute that we can pass or don't pass.
if we passed that attribute - then we want to split it into chunks - easy
peasy :)

[2019-10-13 17:43] EbrahimKreem commented on #194
we have a small problem related to `@groceristar/static-data-generator` when I try to run the script I get

![Screenshot from 2019-10-13 20-43-11](https://user-images.githubusercontent.com/32773511/66719553-1e737200-edfa-11e9-85b9-7000f0f67fa2.png)

[2019-10-13 18:13] EbrahimKreem commented on #194
#298

[2019-10-13 18:15] EbrahimKreem commented on #194
I made a PR that fixes the issue please make a new release for the module

[2019-10-13 18:15] atherdon commented on #194
got it

[2019-10-13 18:25] atherdon commented on #194
@EbrahimKreem I push changes to npm

[2019-10-13 20:54] EbrahimKreem commented on #194
as I move through the code of `assign` it will generate a file for each (row, object) is this the behavior we want

[2019-10-13 21:48] atherdon commented on #194
it depends on case.
I assume that the main goal for split is this case:
we have a dataset with 17k of rows. and for tests - we don't need all this
data to be loaded.
So we decide to split dataset to 17 files with 1000 objects in each file.
Does that make sense?
tell me if it still not clear

[2019-10-14 05:13] EbrahimKreem commented on #194
Do you mean that it should make a file for every 1000 objects

[2019-10-14 06:29] EbrahimKreem commented on #194
yeah it makes sense now

[2019-10-14 08:52] #172 closed

[2019-10-14 19:28] atherdon opened #204 "we have a build error here, but I tend to merge this PR"
we have a build error here, but I tend to merge this PR

build output: https://travis-ci.org/GroceriStar/food-datasets-csv-parser/jobs/597514887

_Originally posted by @atherdon in https://github.com/GroceriStar/food-datasets-csv-parser/pull/202#issuecomment-541873179_

[2019-10-14 19:28] atherdon commented on #204
@sibasish14 can you update it?

[2019-10-14 19:40] atherdon commented on #194
Ok, so should we move our methods away from fileSystem or just remove it
totally?

[2019-10-14 19:41] atherdon commented on #194
if all duplicates from projects2.0 is removed - let's move functionality
into projects3.0 - i think it will improve our process and also we'll be
able to tweak our code a bit

[2019-10-15 04:55] sibasish14 commented on #204
I'm new to testing. But I'll try.
I went through the logs and it says `The command "npm run lint" failed and exited with 1 during.` So I think the code written, doesn't match the ESLint rules. Should I update the `mainWrapper.js` file as per the ESLint rules?

[2019-10-15 06:05] EbrahimKreem commented on #194
1- `filesystem.js` purpose was to read directory files and now we use `readDir` method from generator and it should be removed totally
2- `utils.js` there are some duplicates with generator and I think we should remove them

[2019-10-15 11:03] EbrahimKreem commented on #204
you should use default export and this will solve the problem https://github.com/GroceriStar/food-datasets-csv-parser/blob/6671b22a6d44d51f2f0dff1d4ede15fc07ec64b3/src/mainWrapper.js#L37

[2019-10-15 11:16] EbrahimKreem commented on #204
but I have one question how did `lint-staged` let you make a commit?

our config runs `lint-staged` in staged files before any commit to check eslint rules if there is an error it will not let you commit until you fix the error.

when you try to commit do these lines appear in your terminal or no?

![Screenshot from 2019-10-15 14-15-27](https://user-images.githubusercontent.com/32773511/66826914-4

[2019-10-15 12:46] sibasish14 commented on #204
So I should basically add a default: `export default {`

our config runs linter in staged files before any commit to check eslint rules if there is an error it will not let you commit until you fix the error.
when you try to commit do these lines appear in your terminal or no?

I didn't notice any tests being run while I was committing. I will check this time I commit and tell you.

[2019-10-15 15:21] EbrahimKreem commented on #204
what type of os your running on your computer?

[2019-10-15 15:47] sibasish14 commented on #204
Ubuntu 18.04

[2019-10-15 15:52] EbrahimKreem commented on #204
did you install `node-modules` of the repo or no

[2019-10-15 16:24] sibasish14 commented on #204
No. I didn't know I had to install it.
How do I do it? Using: `npm install @groceristar/food-datasets-csv-parser`?

[2019-10-15 16:44] EbrahimKreem commented on #204
`npm install`

[2019-10-15 16:48] sibasish14 commented on #204
Where do I run it? In the directory of my clone?

[2019-10-15 16:49] EbrahimKreem commented on #204
yes

[2019-10-15 16:56] sibasish14 commented on #204
![Screenshot from 2019-10-15 22-24-58](https://user-images.githubusercontent.com/33897888/66852480-b019e580-ef9a-11e9-9b84-f78e42f70eaf.png)
I am getting this error.

[2019-10-15 16:58] EbrahimKreem commented on #204
run the command with `sudo`

[2019-10-15 16:58] EbrahimKreem commented on #204
`sudo npm install`

[2019-10-15 17:08] sibasish14 commented on #204
![Screenshot from 2019-10-15 22-31-40](https://user-images.githubusercontent.com/33897888/66852874-97f69600-ef9b-11e9-87e1-20740778b0aa.png)
Is it done now?

[2019-10-15 17:09] sibasish14 commented on #204
Oh My Zsh...it has various themes.

[2019-10-15 17:10] EbrahimKreem commented on #204
yes

[2019-10-15 17:13] sibasish14 commented on #204
One last doubt... Do I need to always run `npm install` whenever I update my repo?

[2019-10-15 17:16] EbrahimKreem commented on #204
no, you don't need to do it

[2019-10-15 17:18] EbrahimKreem commented on #204
to learn more about npm read this article https://nodesource.com/blog/an-absolute-beginners-guide-to-using-npm/

[2019-10-16 02:59] atherdon commented on #204
i'll advice to re-run n[m install each time when you sync your fork with
master branch, because we updating packages frequently so i'm always
updating something :)

[2019-10-16 12:48] sibasish14 commented on #204
I have fixed this https://github.com/GroceriStar/food-datasets-csv-parser/pull/206

[2019-10-16 18:11] #204 closed

[2019-10-16 18:12] atherdon commented on #180
i think it was done, right? can I close this issue?

[2019-10-16 18:12] #107 closed

[2019-10-16 18:13] #56 closed

[2019-10-16 18:13] #41 closed

[2019-10-16 18:13] #48 closed

[2019-10-16 18:13] #47 closed

[2019-10-16 18:14] #44 closed

[2019-10-16 18:14] #45 closed

[2019-10-16 18:14] #43 closed

[2019-10-16 18:14] #42 closed

[2019-10-16 18:14] #46 closed

[2019-10-16 18:16] #9 closed

[2019-10-16 18:16] #7 closed

[2019-10-16 18:16] #18 closed

[2019-10-16 18:16] #32 closed

[2019-10-16 18:17] #17 closed

[2019-10-16 18:18] atherdon commented on #194
I'm ok with your proposes - let's go :)

[2019-10-16 18:29] sibasish14 commented on #180
Yes

[2019-10-16 19:38] jan-strum commented on #52
Hey Arthur. I will unfortunately not be able to contribute to GS anymore. Thank you for everything, and best of luck!

[2019-10-16 21:15] EbrahimKreem opened #208 "refactor parsers to use `mainWrapper`"
**Is your feature request related to a problem? Please describe.**
with @sibasish14 latest changes in `mainWrapper` I think we should refactor all parsers to use it to reduce code duplication

**Describe the solution you'd like**
refactor all parsers to use `mainWrapper` fn in projects2.0

[2019-10-16 21:16] EbrahimKreem commented on #208
#207

[2019-10-16 22:35] atherdon commented on #52
Hi Jan, not a problem at all - I understand

[2019-10-16 22:37] #180 closed

[2019-10-16 22:39] atherdon opened #209 "remove lines from index.js"
**Is your feature request related to a problem? Please describe.**
@sibasish14 please remove that part, but check if we're using it at other places or not
https://github.com/GroceriStar/food-datasets-csv-parser/blob/master/src/index.js#L10

[2019-10-17 05:47] EbrahimKreem opened #210 "about methods from this module"
As I go through README.md in section **Methods from this module** we have a lot of functions that are not implemented yet so do we need to implement these functions or no?

[2019-10-17 10:53] sibasish14 commented on #209
No files in `/src` look like they are using `parseDirectoryFiles`. I also checked other folders but didn't find any file(s) using it. So I think we can remove that line as well as it's export?

[2019-10-18 13:07] atherdon commented on #209
sure - do it!

[2019-10-18 13:07] atherdon commented on #209
btw, feel free to oepn PRs if you havequestions and show that change - i mean it's more quick for communication

[2019-10-19 00:39] atherdon commented on #210
hmm, it depends. some methods were removed but some maybe just renamed.
My goal with this document was to give a simple list for starters.
Not sure what to do now. open PR and show me

[2019-10-19 11:26] atherdon commented on #209
looks completed for me. do you have other tasks to do, right?

[2019-10-19 11:30] #209 closed

[2019-10-19 12:59] sibasish14 commented on #209
@atherdon I would like some more issues to work on.

[2019-10-19 16:52] atherdon commented on #208
@EbrahimKreem was it completed or @sibasish14 can take a look and make some improvements?

[2019-10-19 16:52] atherdon commented on #174
@sibasish14 check this one. tell me if it's not clear

[2019-10-19 17:26] EbrahimKreem commented on #208
yeah @sibasish14 can take a look at it my focus now is on code documenting and updating the readme

[2019-10-19 17:26] EbrahimKreem commented on #208
do you suggest that I should go to projects3.0 first?

[2019-10-19 17:35] atherdon commented on #208
I don't know - what is best for you.
I plan to shoot a video and explain our next moves - but I with other stuff
- so do what is better and i'll try to solve my tasks and get back.

I plan to get back one of our experienced interns - he stuck with current
university course - but it hurts to his coding learning curve.

Btw, if you want to start with projects3.0 - i'll need to publish a new
version

[2019-10-19 17:39] EbrahimKreem commented on #208
what was projects3.0 purpose? I forgot :smile:

[2019-10-19 17:43] atherdon commented on #208
lol.
Main purpose is go away from old and stupid es5 version ~~ projects2.0
because we keeping all projects in one folder just for now, so our team
members was less confused.
I think one of our goals is to create a microservice with csv parser that
will run on heroku so anyone can parse their stuff when he wants.
And clean up and code upgrade will really help and our project will go to a
next evol

[2019-10-19 17:54] atherdon commented on #208
you'll easily get used to it. I tried to reduce every problem that we have
with projects2.0, so you'll get into it pretty quick I guess.
Because we just cleaning up - not creating from scratch :)

[2019-10-20 07:00] sibasish14 commented on #174
`remove the first line at file`- which file are you referring to? I don't think it's `csvToJson.js`

[2019-10-20 17:12] atherdon commented on #174
in order to speed up our development I disabled ESLint warnings for a few
files that we have inside of our src folder.
I think i'm talking about csvToJson.js - does it have comment at it's first
line?

[2019-10-20 17:36] sibasish14 commented on #174
No, `csvToJson.js` doesn't have any comment line in the first line.

[2019-10-21 03:26] atherdon commented on #174
Ok, i think it's solved now. Can you confirm that eslint doesn't generate warnings?

[2019-10-21 03:26] atherdon commented on #174
if eslint is generating warnings - please fix few of them and submit PR

[2019-10-21 03:26] #174 closed

[2019-10-21 03:27] atherdon commented on #194
I think we didn't finish this task.
because at these lines we running it twice: https://github.com/GroceriStar/food-datasets-csv-parser/blob/master/src/mainWrapper.js#L34-L37

[2019-10-21 03:28] atherdon opened #214 "clean up"
**Is your feature request related to a problem? Please describe.**
https://github.com/GroceriStar/food-datasets-csv-parser/blob/master/src/mainWrapper.js#L9-L30

[2019-10-21 03:45] atherdon opened #215 "updating our repo structure"
**Is your feature request related to a problem? Please describe.**
Right now code inside of our repository is confusing. we keeping everything together, so it hard to follow for new people.
I did a similar changes at our generator repository. you can take a look, observe, compare changes and make similar updates.
link: https://github.com/GroceriStar/food-static-files-generator

[2019-10-21 03:47] atherdon commented on #215
@sibasish14 you can do it as well

[2019-10-21 03:50] atherdon opened #216 "projects3.0 evolution from projects2.0"
lol.
Main purpose is go away from old and stupid es5 version ~~ projects2.0
because we keeping all projects in one folder just for now, so our team
members was less confused.
I think one of our goals is to create a microservice with csv parser that
will run on heroku so anyone can parse their stuff when he wants.
And clean up and code upgrade will really help and our project will go to a
next evol

[2019-10-21 03:52] atherdon commented on #216
Now I'm updating generator module at our csv-parser module and will release a new version on npm.
then we'll be able to upgrade it on projects3.0

[2019-10-21 08:41] #214 closed

[2019-10-21 08:42] atherdon commented on #194
now it's completed and can be closed, right?

[2019-10-21 10:02] EbrahimKreem commented on #194
yes

[2019-10-21 15:28] EbrahimKreem opened #218 "About the location of `mainWrapper.js` file"
**Is your feature request related to a problem? Please describe.**
I think `mainWrapper.js` file should be in projects2.0 folder.
 it doesn't make sense to let it be in the `src` folder because it's not a part of the core functionality

[2019-10-21 18:05] sibasish14 commented on #215
The structures seem to be completely different. Any suggestions about how should I proceed?
Do you want me to move some files inside the `/package` folder? The generator repo has most of the files stored inside the `/package` folder. So we can do the same.

[2019-10-22 12:34] atherdon commented on #215
yes, we need to move some files, that related only to module(for example -
src folder is part of the module, but projects2.0 or projects3.0 is not)
open PR, show me the changes and I'll guide you forward

[2019-10-22 12:36] atherdon commented on #218
not sure actually. I mean - our main goal is have less code at our parses.
and as we using the method for each of dataset - i think it's cool to
automate it and keep as part of module - and avoid further duplicates

[2019-10-22 12:57] atherdon commented on #194
Perfecto!

[2019-10-22 12:57] #194 closed

[2019-10-23 18:18] atherdon commented on #216
@EbrahimKreem @sibasish14 @saphal1998 I think this video will be pretty useful for you.
https://www.loom.com/share/03c161e2231e45469075bad1e83cdf07

Btw, @vadim9999 do you interested to jump into it? if yes - please buzz me and we'll see what we need to do

[2019-10-23 18:32] EbrahimKreem opened #222 "About Nutrition dataset"
### Actual Behavior / Situation
I updated the parser for Nutrition dataset then around 130 JSON files generated :laughing:  that is becasue the csv file is 131073 lines

### Modification Proposal
do we really need to parse it?

[2019-10-23 19:09] EbrahimKreem opened #224 "`assign` is not parsing with the size provided"
**Describe the bug**
I inspect the JSON files we parse and all of them is passing the wrong size for example:
the restaurants JSON file is around 10619 dataset if we split it we get 2 JSON files and logically we have to get 11 JSON files

**To Reproduce**
Steps to reproduce the behavior:
`yarn run csv:res`

**Expected behavior**
we should split the JSON file correctly

**Screenshots**

![Screensho

[2019-10-23 21:29] atherdon commented on #222
as it part of the dataset - yes i think so.
Maybe later we'll gitignore /output folder at projects3.0 so we will need
to fetch all information again and again. this is actually a reason why we
having split - because sometimes you just want to test stuff on small
portion of data - and don't import huge amount of mb

[2019-10-23 21:35] atherdon opened #226 "update travis ci with new paths"
**Describe the bug**
https://travis-ci.org/GroceriStar/food-datasets-csv-parser/jobs/601970173
We have a similar issue at generator as well, when I updated the repo structure
#223

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screens

[2019-10-23 21:39] atherdon commented on #215
#226 please check this issue - it's part of our migration, but i'm closing this issue because main part is done

[2019-10-23 21:39] #215 closed

[2019-10-23 21:41] atherdon commented on #224
hmm, sure it's strange. we didn't test it a lot before

[2019-10-24 06:10] EbrahimKreem opened #227 "update package.json scripts"
**Describe the bug**
with the latest repo structure changes, we have problems in running package.json scripts

[2019-10-24 10:09] atherdon commented on #227
sure, definately can be
@sibasish14 maybe can take a look on that

[2019-10-24 10:09] atherdon commented on #227
@EbrahimKreem can you explain what exactly is not working cool? path to dist folder at parsers?

[2019-10-24 10:45] atherdon opened #228 "https://hackernoon.com/node-clean-architecture-deep-dive-kp3y32gt"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-10-24 11:36] EbrahimKreem commented on #227
1- path to dist folder
2- invalid location for CSV files inside package.json scripts

[2019-10-24 11:36] EbrahimKreem commented on #227
1- path to dist folder
2- invalid location for CSV files inside package.json scripts

[2019-10-24 15:45] atherdon commented on #227
you see - this is an actually good case why we should migrate into
projects3.0 version :)

[2019-10-25 07:27] sibasish14 commented on #227
@EbrahimKreem
I don't find any `dist` folder. Do you mean the `src` folder?

Do you mean to provide the right path for the `index.js` file? Something like changing it to- `"main": "package/src/index.cjs.js",`

[2019-10-25 08:44] EbrahimKreem commented on #227
if you look at `projects2.0` parsers the import for `mainWrapper` fn is:
https://github.com/GroceriStar/food-datasets-csv-parser/blob/1c0cf846ecf5414421da1f0b8958200505c46aca/projects2.0/FAO/Fish/Fish_NV_Sum/parser.js#L2
it is referencing the `dist` folder in the root dir but now with our directory structure changes the `dist` folder will be inside the `package` folder it will not work as expected

[2019-10-25 08:52] EbrahimKreem commented on #227
if you look at `package.json` scripts that are inside `package` ex:
https://github.com/GroceriStar/food-datasets-csv-parser/blob/1c0cf846ecf5414421da1f0b8958200505c46aca/package/package.json#L24
the path is invalid because before the `package.json` file was in the root dir now it is inside the `package` dir so we will have to update CSV files path to make it work as expected.

[2019-10-25 12:45] sibasish14 commented on #227
So I need to update the path in each parser inside `projects 2.0` as `require('../../../package/dist/index.cjs');` Please correct me if I am wrong.

And how should I update the csv files? I am not quite sure about this part.

[2019-10-25 16:51] atherdon commented on #227
i think yes - please update those paths

[2019-10-25 17:22] EbrahimKreem commented on #227
add a dot (.) in the beginning of the path and it will work ex:
`"csv:res": "node ../projects2.0/Restaurants/parser",`

[2019-10-26 07:48] #227 closed

[2019-10-26 17:06] sibasish14 commented on #227
Any more tasks for me?

[2019-10-26 18:38] #226 closed

[2019-10-26 22:29] atherdon commented on #216
Hi everyone, i have one idea about what simple move we can do.
as we have csv datasets at `projects3.0` would it be wise to remove the same data from `projects2.0`?
it can be a problem for fixing our small bugs, but it can move slowly as forward ;)

[2019-10-26 23:11] atherdon opened #233 "pkg,json improvement"
**Is your feature request related to a problem? Please describe.**
when we'll kill projects2.0 - we should clean up the main package. there we have some old and odd stuff that we don't need anymore.
it should be removed and updated version should be published at npm

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear

[2019-10-27 17:05] EbrahimKreem opened #236 "some project3.0 bugs"
**Describe the bug**
errors in code linting and formating when I make a commit

**Screenshots**
![Screenshot from 2019-10-27 18-42-58](https://user-images.githubusercontent.com/32773511/67638397-fead7500-f8f4-11e9-8cfc-4b691d0880db.png)
![Screenshot from 2019-10-27 18-44-49](https://user-images.githubusercontent.com/32773511/67638398-00773880-f8f5-11e9-8b24-600f82f65826.png)

[2019-10-27 19:25] atherdon commented on #236
yep i think we'll more similar errors soon, because i did a copy-paste with projects3.0 - and don't really care to check how it works. but most of them will be simple to fix.
at what project exactly it's generated?

[2019-10-27 21:48] EbrahimKreem commented on #236
FAO

On Sun, Oct 27, 2019, 10:25 PM Arthur Tkachenko <notifications@github.com>
wrote:

[2019-10-28 13:18] sibasish14 commented on #215
@atherdon Sorry, I'm asking again, but I haven't been assigned any more tasks. Is there any more tasks I can try?

[2019-10-28 13:29] atherdon commented on #215
of source! thanks for buzzing me. I missed to create a task

[2019-10-28 13:30] #218 closed

[2019-10-28 13:30] atherdon commented on #208
was it finished, right?

[2019-10-28 13:32] atherdon commented on #216
@sibasish14 did you watch that video, right?
i made some changes recently, can you sync your fork with changes from master and check how `projects3.0` works inside?
I can give you a proper task, but want you to explore it and try to find something that you can do - any simple thing is ok

[2019-10-28 17:49] EbrahimKreem commented on #208
probably yes

[2019-10-28 17:49] EbrahimKreem commented on #208
should I close it?

[2019-10-28 18:17] EbrahimKreem opened #240 "`csvToJson` method enhancement"
should we change `csvToJson` method implementation to except only file name, not dirPath and call `parseCsv` method inside it I think it will make sense if we use it like this ex:
`csvToJson('Restaurants.csv')`

[2019-10-28 20:18] atherdon commented on #240
if you think it will be beneficial for us - go for it.
use projects3.0 as a source of ideas about what we can improve in our main
package

[2019-10-28 20:18] atherdon commented on #208
yep

[2019-10-28 20:20] #208 closed

[2019-10-28 22:19] atherdon commented on #240
Btw, if you notice something else that can be a good and simple task - please create it and assign to @sibasish14 because i forget to prepare some future tasks.

Btw, I think soon we'll have a new wave of people that can help us :)

[2019-10-29 00:22] atherdon opened #242 "initial task"
Hi @Cerebrovinny,
this is another repo with code that we actually trying to finish. hope you read some info at `sd` repository - it will be helpful for you - because this module is a sub-set of sd repository.

Check issues below and let's figure our what you can do
1. https://github.com/GroceriStar/food-datasets-csv-parser/issues/100
2. I think this was done, but maybe it's necessary to read as we

[2019-10-29 00:23] atherdon commented on #125
@EbrahimKreem should we close this task by your opinion

[2019-10-29 00:25] atherdon commented on #242
@gideonnnalue check it as well

[2019-10-29 13:23] EbrahimKreem commented on #125
the discussion here is outdated with our latest changes so in my opinion the issue should be closed

[2019-10-29 13:27] EbrahimKreem commented on #240
okay, I will focus on fixing config files in projects3.0 and I will open issues for coding tasks

[2019-10-29 15:57] ebrahim-2 opened #243 "reduce files duplicates"
**Is your feature request related to a problem? Please describe.**
our folder structure is very confusing:
1- a lot of duplicate config files.
2- in every folder in projects3.0 we need to install `node_modules` so there are a lot of duplicate dependencies across folders.
3- every folder needs its own ci build
4- every folder needs its own code linting and formating

**Describe the solution you'd l

[2019-10-29 17:46] atherdon commented on #243
i don't plan to keep all of these projects at this repository later
actually.
and it was my main reason to have them separated - because later we can
just separate them and everything will work.
not like in our prev version - where everything was connected in a crazy
way.
but i like your ideas - i'll try to take a look on them deeply

[2019-10-29 17:50] #125 closed

[2019-10-29 17:55] EbrahimKreem commented on #243
actually.
and it was my main reason to have them separated - because later we can
just separate them and everything will work.

if this is the plan we don't need a yarn workspace at all, BTW how functions will be tested in the future if we remove the projects3.0?

[2019-10-29 19:31] atherdon commented on #243
right now we use projects just as a test space for our module. so not sure
if it's necessary way to think about it.
What i want to do next with projects3.0 is to have some sort of template
that we can show to people as a usecase for our module.
then i want to tweak those projects into microservices - maybe by
publishing on Heroku... or AWS

[2019-10-29 22:13] atherdon commented on #242
@madalien11 jump here as well

[2019-10-29 22:15] atherdon commented on #243
Maybe, one of the next steps for this project will be to extend csv-parser-module and be able quickly switch between parcing datasets at one node project. but it's ideas and I think when we'll complete projects3.0 migration i'll move you @EbrahimKreem to something more cool

[2019-10-30 00:45] Cerebrovinny commented on #242
Ok @atherdon I will check this.
Thank you

[2019-10-30 05:58] EbrahimKreem commented on #243
publishing on Heroku... or AWS

Do you mean that it will be a service that can be used online?

[2019-10-30 16:56] atherdon commented on #243
i think - why not, right?
We handled a pretty common situation - parsing csv files.
and if our code can help someone else and also promote our module - i think
it worth trying

[2019-10-31 13:38] atherdon commented on #242
@okpakomarvis you can jump on this task as well

[2019-10-31 19:38] sibasish14 commented on #216
Sorry I am a bit late.
Can you please explain how can I launch it?

[2019-10-31 21:35] atherdon commented on #216
no problem at all. if i get your question correctly, you should go into `projects3.0/FoodCom..`
then run `yarn install` - it will install fresh packages and start a build process first time. I assume that build went wrong and show you some errors. you can put them here with screenshot or try to solve it by yourself by comparing code inside of that project with code related to other `3.0` projects

[2019-10-31 21:38] atherdon commented on #216
as we made all datasets code at `2.0` working in the same logic/way - now our goal to make it work in more proper, but similar way. don't worry - it's easy

[2019-11-01 20:30] sibasish14 commented on #216
I am getting the following output after doing `npm install` in `projects3.0/FoodComposition`

![Screenshot from 2019-11-02 01-58-23](https://user-images.githubusercontent.com/33897888/68054445-4f1d3c00-fd14-11e9-9fb5-a12ee3ce0d4c.png)
![Screenshot from 2019-11-02 01-58-25](https://user-images.githubusercontent.com/33897888/68054457-55abb380-fd14-11e9-8586-52ae66dab5f3.png)

[2019-11-01 21:12] atherdon commented on #216
can you try `yarn build`? but looks like it doen't generate any issue -
which is cool but strange :)
if build working well too - we can move forward and try to remove/replace
old FoodComposition script with a this version. but we should do it slowly
:)

[2019-11-02 10:12] EbrahimKreem opened #246 "update code located in projects3.0 to es6"

[2019-11-02 10:15] EbrahimKreem opened #247 "fix linter inside projects3.0"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Is it was created as task at GitHub issues? Please provide an issue number or link**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear a

[2019-11-02 11:57] atherdon opened #249 "src clean up"
**Is your feature request related to a problem? Please describe.**
@EbrahimKreem just asking your opinion, but it will be a task for our new teammates.
what is your opinion about code inside `fileSystems`, `mainWrapper.js` and `index.js`?
I think we can clean it up, especially after our latest changes. curious to hear your opinion.

[2019-11-02 11:58] atherdon commented on #242
@shravanhariharan2 jump into this task too - so we can handle this module more quickly :)

[2019-11-02 15:28] EbrahimKreem commented on #249
yeah totally agree with you because `fileSystem.js` and `mainWrapper.js`  are useless in projects3.0.

about `index.js` do you mean that it should be removed or imports for `fileSystem.js` and `mainWrapper` should be removed?

[2019-11-02 15:34] EbrahimKreem commented on #249
I think that `utils.js` can be removed also

[2019-11-02 15:58] atherdon commented on #249
about `index.js` - i'm just not sure if we should export all of these
methods, because we're using only few in projects3.0
and as we'll remove stuff from other files - it will be cleaned up a bit

[2019-11-03 06:50] sibasish14 commented on #216
I did `yarn build`:
![Screenshot from 2019-11-03 12-19-45](https://user-images.githubusercontent.com/33897888/68081453-4754b900-fe34-11e9-9eb7-b23132289386.png)

[2019-11-03 13:04] atherdon commented on #216
ok, then go to fao project and see what Ebrahim did there in order to make parser work, i think there is no huge chnages will be necessary @sibasish14

[2019-11-03 18:51] atherdon commented on #216
@sibasish14 please check this video https://www.loom.com/share/606346ba1b814243a5a1ae589e4468e9

[2019-11-04 06:58] EbrahimKreem commented on #243
I got an idea that will make projects3.0 separate from package dir and solve config files duplicates in projects3.0 do you want to open an issue for steps and let other interns do it or do it by my self?

[2019-11-04 07:05] EbrahimKreem commented on #243
the folder structure for projects3.0 will be like this:

[code]

[2019-11-07 15:19] ebrahim-2 commented on #243
@atherdon

[2019-11-07 17:52] atherdon commented on #243
i'm still not sure if i'm ready for that movement. it maybe a good imporvement for us, but it will connect our datasets together again. and I was trying to keep everything at one place for more than a year - and i find out that people - interns, my students find it very confusing

[2019-11-08 04:23] sibasish14 commented on #216
I was solving as per the changes made in the `FAO`. I copied the contents of the `index.js` file from the `FAO` folder to the `FoodComposition` folder. When I tried to commit, I received a lot of linting errors:
![Screenshot from 2019-11-08 09-52-13](https://user-images.githubusercontent.com/33897888/68449531-7c368680-020d-11ea-8a60-22666036f28d.png)
I'll make a PR once I fix these errors.

[2019-11-08 16:03] atherdon commented on #216
cool - @sibasish14 - for constants - you can just comment them. i want to improve our system while ago with this contants, but don't have time to perfect it.
Btw, I think we'll have similar issues with other projects as well

[2019-11-08 16:12] atherdon commented on #242
@hanroro check details about what we're doing here

[2019-11-08 16:14] atherdon commented on #242
@Cerebrovinny, @gideonnnalue, @madalien11, @okpakomarvis, @shravanhariharan2 - do you have any questions to me? Just not sure where we all are. and silence is scaring me :)

[2019-11-08 17:51] sibasish14 commented on #216
I fixed most of them. Can you help me fix the rest? I don't understand how to solve the rest.
![Screenshot from 2019-11-08 23-19-46](https://user-images.githubusercontent.com/33897888/68499103-62815780-027e-11ea-9387-54ca759ef26c.png)

[2019-11-08 19:48] atherdon commented on #216
can you compare code at src folder with code from other projects as well?

[2019-11-08 19:50] atherdon commented on #216
maybe it can help a bit.

what do you think about utils.js file inside of this project? are we using metohds from it? if no - just comment them

[2019-11-08 19:58] atherdon commented on #216
about file csv_parser - i think it's just an old rudiment - we don't need it to make everything work - because our separated module published at npm and can be installed in a correct way

[2019-11-10 05:46] sibasish14 commented on #216
Now there is only error left:
`/home/sibasish/GroceriStar/food-datasets-csv-parser/projects3.0/FoodComposition/src/index.js`

`44:13  error  Unable to resolve path to module '../../../package/dist/index.cjs'  import/no-unresolved`

I figured that there's no `dist` folder in the `package` directory. How do I fix it?

[2019-11-10 10:27] ebrahim-2 commented on #216
rather than referencing the `dist` you can use the npm module ex:
`const { findCsvFiles, parseCsv, csvToJson } = require("@groceristar/food-dataset-csv-parser")`

[2019-11-10 10:31] ebrahim-2 commented on #216
if you want to make a dist folder for development purposes:
1- `cd package`
2- `npm run dev`

[2019-11-10 15:21] atherdon commented on #216
i don't think that using dev way is a good way. i mean it better to submit
pr for module - then i'm publishing it and we test if it work - because
working through `dist` - it's like trying to eat raw coffee without using
water :)

[2019-11-10 23:41] atherdon commented on #242
@vuongdennis jump here too

[2019-11-11 01:01] hanroro commented on #216
@atherdon Should I work on `Restaurants` folder for the same thing?

[2019-11-11 01:08] atherdon commented on #216
@hanroro good idea - pursue it!

[2019-11-11 01:14] atherdon commented on #242
@zakariaelas jump here as well

[2019-11-11 20:30] atherdon commented on #242
@tabishnehal jump here - making hard fist with our interns in order to finish it quickly :)

[2019-11-13 00:20] atherdon commented on #242
@mbanelsonifeanyi let's redirect you here :)

[2019-11-14 03:22] hanroro commented on #216
@atherdon Just submitted a PR on that. Please have a check.

[2019-11-14 04:11] atherdon commented on #216
does restaurants dataset parsed and generating json under projects3.0
folder?
if yes- then we can kill restaurants folder at projects2.0 - correct? if
yes - please do - let's clean it up a bit

[2019-11-14 04:36] hanroro commented on #216
From the codes I added. I think it do parse, but I do not know where the output is located and it seems there is not any file created. So how can i check that?

[2019-11-14 05:09] ebrahim-2 opened #262 "Add a script for parsing csv files inside package.json"
**Is your feature request related to a problem? Please describe.**
with the latest changes to parsers inside projects3.0 we don't have a script that should parse the CSV files

[2019-11-14 11:25] atherdon commented on #216
buzz Ebrahim here, because he made that code.
in mean time you can check if we have an explanation at readme. if no -
we'll need to add it there, because someone else can be confused as well

[2019-11-14 11:26] atherdon commented on #262
looks interesting. i like this idea.
especially that i know how to create a nodejs and make it callable from
pkg.
at sd repository we used for that stuff - shelljs package

[2019-11-14 12:09] ebrahim-2 commented on #216
that's why I opened #262 @hanroro we will fix it soon at the main time you can test it manually ex:
[code]

[2019-11-14 12:10] ebrahim-2 commented on #262
should package.json be in the root dir or in `projects3.0`?

[2019-11-14 16:56] atherdon commented on #262
i still prefer to have separated pkg.json methods for each dataset :)

[2019-11-14 18:00] ebrahim-2 commented on #262
okay, should I do it or list the steps for others to make it?

[2019-11-14 19:35] atherdon commented on #262
you can go for it. i think it will be an interesting task for you
and if you need my input - buzz me

[2019-11-16 18:51] atherdon opened #265 "i don't like these short versions. make it casual"
i don't like these short versions. make it casual

_Originally posted by @atherdon in https://github.com/GroceriStar/food-datasets-csv-parser/pull/264_

[2019-11-16 22:37] atherdon commented on #216
guys, i made some changes in our repo - please sync your forks with master branch

[2019-11-17 19:30] atherdon commented on #216
@sainiyash2903 jump here- into the action :)

[2019-11-18 03:02] sainiyash2903 commented on #216
@atherdon Now a days, my examinations are going on. So, I'm little bit busy . I will be in action from 9 December.

[2019-11-18 03:44] atherdon commented on #216
sure sure

[2019-11-24 03:22] atherdon opened #273 "eslint error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

![image](https://user-images.githubusercontent.com/1469198/69488970-631f0e00-0e7a-11ea-84f4-e6d650ee2ac0.png)

[2019-12-08 20:08] atherdon commented on #216
@sainiyash2903 jump here. we'll clean up this module with you

[2019-12-17 15:21] sainiyash2903 commented on #216
@atherdon I need your guidance, in my work . I don't know what to do . Everything is new for me . I'm learning React side by side.

[2019-12-17 22:42] atherdon commented on #216
@sainiyash2903 sure, but part of my goal here is to see how you "act" in open ocean. I mean yes I can guide you - but did you go through our conversations and explore it on your own?
Again - this code is simple - you just need to break this first wall :)

I always have this example: most of peoples can do 30 pull-ups - because it's hard and they not trained well. But what if someone will stand beh

[2021-10-20 06:06] renovate[bot] opened #342 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency eslint-plugin-jest to v25
 - [ ] Update dependency husky to v7
 - [ ] Update dependency jest-json-schema to v5
 - [ ] U